<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tampil Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
             fieldset{
                 box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2); 
                max-width: 500px; 
                margin: auto; 
                text-align: justify;
            }
        </style>
    </head>
    <body>
        <fieldset>
            <h2 align="center">KTP Zulfa Salsabila</h2>
            <p th:text="${nm}"></p>
            <p th:text="${tgl}"></p>
            <img th:src="${img}"/>
        </fieldset>
    </body>
</html>
